/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Josef Header***********/

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 75px;
}

ul {
    display: flex;
    gap: 60px;
}

li {
    list-style-type: none;
}

.links ul li a:hover {
    color: var(--main-color);
    border-top: solid #0065FC;
    padding-top: 22px;
}

/****** Josef Trouver votre hébergement + Bouton de recherche***********/

.trouvez-hebergement {
    padding-top: 20px;    
}

.trouvez-hebergement h1 {
    margin-bottom: 10px;
    font-size: 1.42em;
}

.trouvez-hebergement p {
   font-size: 1.1em;
   margin-top: 0;
   margin-bottom: 35px;
}

.bouton-rechercher {
   display: flex;
}

.location-dot {
    display: flex;
    width: 250px;
    height: 50px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.location-dot input {
    color: black;
    width: 190px;
    text-align: center;  
    outline: none;
    border: none;
    border: 1px solid #F2F2F2;   
    font-weight: 600;
    font-size: 1.1em;
}

.fa-location-dot {
    color: black;
    margin:auto;      
}

.bouton-envoyer input {
    color: white;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    height: 50px;
    width: 140px;
    font-weight: 600;
    font-size: 1.1em;
}

/****** Josef Barre Filtre ***********/

.filtre {
    display: flex;
    align-items: center;
    margin: 25px 0px 20px 0px;
}

.filtre p {
    font-size: 1.1em;
    font-weight: 600;
}

.mise-forme-filtre {   
    display: flex;
    width: 52%;
    margin-left: 10px ;
    justify-content: space-between;
}
    

.mise-forme-filtre button {
    background-color: white;
    border: 3px solid #F2F2F2;
    font-size: 1.1em;
    font-weight: 600;
    height: 50px;
    border-radius: 30px;
    padding: 0px 20px;
}

.bouton {
    white-space: nowrap;
}

.mise-forme-filtre button:hover {
    background-color: #DEEBFF;
}

.fa-info {
    border: 2px solid #F2F2F2;
    border-radius: 50%; 
    padding: 10px 15px;
    margin-bottom: 5px;
  }

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Josef Hebergements ***********/
.hebergements {
    width: 65%;
}

.marseille-cards .card {
    width: 240px;
    height: 200px;
    margin-top: 33px;
}

.marseille-cards img {
    width: 100%;
    height: 110px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.marseille-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    
}

.marseille-cards .card-content {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

.marseille-cards .card-title {
    margin-top: 8px;
    margin-bottom: 7px;
}

.marseille-cards .card-subtitle {
    margin: 0;
}

.option-afficher-plus p {
    margin-bottom: 0;
    padding-top: 12px;
    font-size: 1.1em;
    font-weight: 600;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Josef Activité ***********/

.activites-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.activites-cards a {
    width: 22%;   
}

.activites-cards .card {
    padding: 0;
    height: 450px;    
}

.activites-cards img {
    width: 100%;
    height: 88%;
    border-top-right-radius: 6%;
    border-top-left-radius: 6%;
}

.activites-cards .card-content {
    margin-left: 15px;
    
}

.activites-a-marseille {
    padding: 30px;
}



/****** Josef Footer ***********/
.footer li {
    padding: 5px;
}

.footer ol {
    padding-left: 0;
    margin-top: 5px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding-left: 10px;
    padding-right: 320px;
}

.footer p {
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 600;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


/****** Josef Barre Filtre tablette ***********/
    .filtre {
      display:flex;
      flex-direction: column;
      align-items: flex-start;  
      margin-top:5px;    
    }

    .mise-forme-filtre {   
        margin: 5px 0; 
    }

    .mise-forme-filtre .bouton {
        margin-right: 10px;
    }

/****** Josef Footer activité ***********/
    .activites-cards .card {
        padding: 0;
        height: 300px;    
    }  
    
    .activites-cards img {
        height: 78%;
    }

/****** Josef Footer tablette ***********/
.footer {
    padding-left: 30px;
    padding-right: 150px;
    }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}